APScheduler==3.6.3
cachetools==4.2.2
certifi==2023.11.17
charset-normalizer==3.3.2
configparser==6.0.0
idna==3.6
python-telegram-bot==13.7
pytz==2023.4
redis==5.0.1
requests==2.31.0
setuptools==68.2.2
six==1.16.0
telegram==0.0.1
tornado==6.4
tzlocal==5.2
urllib3==1.26.18
wheel==0.41.2
